[flake8]
max-line-length = 119
per-file-ignores =
    kaggle_toolbox/__init__.py:F401
    kaggle_toolbox/iter/__init__.py:F401
    kaggle_toolbox/loss/__init__.py:F401
    kaggle_toolbox/metrics/__init__.py:F401
    kaggle_toolbox/nlp/transformer/__init__.py:F401
    kaggle_toolbox/nlp/transformer/tokenization/__init__.py:F401
